/*
    This file is for all things grid, positioning and spacing (margins, paddings, etc) of elements.
*/


body {
    /*
    Prevent header element being swallowed to the left on x-small mobile devices.
    196% * 320px.
    */
    min-width: 627.2px;
    padding: 0 30px;
    max-width: 50%;
}

/*footer small, #footerLinks {*/
/*    display: flex;*/
/*}*/

/*h1, nav ul, footer small {*/
/*    justify-content: center;*/
/*}*/

/*ul {*/
/*    flex-wrap: wrap;*/
/*    padding: 0;*/
/*}*/

/*nav ul {*/
/*    flex-direction: row;*/
/*    gap: 2em;*/
/*    align-items: center;*/
/*}*/

main {
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));*/
}

/*img {*/
/*    margin: auto;*/
/*    max-width: clamp(30rem, 40vw, 800px);*/
/*}*/

/*.about ul {*/
/*    gap: 2em;*/
/*}*/

.note {
    display: block;
}

.lg-btn { padding: 0.5rem 1rem; }

.sm-btn { padding: 0.25rem 1rem; }

footer ul {
    gap: 0.5em;
    padding-left: 0;
    display: flex;
    justify-content: start;
}