nav {
    display: grid;
    grid-template-columns: 1fr;
}

nav ul {
    display: flex;
    flex-flow: column;
    flex-direction: row-reverse;
    column-gap: 2em;
    align-items: center;
}

nav ul :nth-child(1){ order: 3; }
nav ul :nth-child(2){ order: 2; }
nav ul :nth-child(3){ order: 1; }

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(759px, 1fr));
}

main .about {
    max-width: 85ch;
}

img {
    margin: auto;
}

footer ul, footer small {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0;
}