/* VARIABLES */

:root {
  /* BORDERS */
  --stroke: solid 3px;

  /* COLORS */
  --light-bg: #FFFFFF;
  --light-primary: #74235D;
  --light-accent: #7426bf;
  --light-disabled: #808080;
  --dark-bg: #112A46;
  --dark-text: #ACC8E5;
  --dark-primary: #F7CCDC;
  --dark-accent: #B6E3C1;
}


/* DEFAULT LIGHT THEME */

body {
  font-family: 'Raleway', sans-serif;
}

.heading-font {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.9px;
}

.body-typography {
  font-size: 1.5em;
  line-height: 1.6em;
  letter-spacing: .5px;
}

.logo{
  width: 30%;
}

.btn-pri-local {
  border: var(--stroke) var(--light-primary);
  color: var(--light-primary);
}

.btn-sec-local {
  border: var(--stroke) var(--light-primary);
  background-color: var(--light-primary);
  color: var(--light-bg);
}

.fw-500 {
  font-weight: 500;
}

.btn-sec-local:hover, .btn-pri-local:hover {
  border: var(--stroke) var(--light-accent);
  color: var(--light-accent);
  background-color: var(--light-bg);
}

.row-mob {
  margin-right: auto !important;
  margin-left: auto !important;
}

a {
  color: var(--light-primary);
}

a:hover {
  color: var(--light-accent);
  text-decoration: none;
}

.btn-disabled-local, .btn-disabled-local:hover {
  border: var(--stroke) var(--light-disabled);
  color: var(--light-disabled);
  text-decoration: line-through;
  cursor: not-allowed;
}

.strike-through{
  text-decoration: line-through;
}

/* DEFAULT DARK THEME */
body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark .btn-pri-local {
  border: var(--stroke) var(--dark-primary);
  color: var(--dark-primary);
}

body.dark .btn-sec-local {
  border: var(--stroke) var(--dark-primary);
  background-color: var(--dark-primary);
  color: var(--dark-bg);
}

body.dark .btn-sec-local:hover, .btn-pri-local:hover {
  border: var(--stroke) var(--dark-accent);
  background-color: var(--dark-bg);
  color: var(--dark-accent);
}

body.dark a {
  color: var(--dark-primary);
}

body.dark a:hover {
  color: var(--dark-accent);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body.systemDarkPreference {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }

  body.systemDarkPreference .btn-pri-local {
    border: var(--stroke) var(--dark-primary);
    color: var(--dark-primary);
  }

  body.systemDarkPreference .btn-sec-local {
    border: var(--stroke) var(--dark-primary);
    background-color: var(--dark-primary);
    color: var(--dark-bg);
  }

  body.systemDarkPreference .btn-sec-local:hover, .btn-pri-local:hover {
    border: var(--stroke) var(--dark-accent);
    background-color: var(--dark-bg);
    color: var(--dark-accent);
  }

  body.systemDarkPreference a {
    color: var(--dark-primary);
  }

  body.systemDarkPreference a:hover {
    color: var(--dark-accent);
    text-decoration: none;
  }
}
