body {
  font-family: 'Raleway', sans-serif;
}

.heading-font {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 0.9px;
}

.body-typography {
  font-size: 1.7em;
  line-height: 1.7em;
  letter-spacing: .5px;
}

.logo{
  width: 30%;
}

.btn-pri-local {
  border: solid 2px #74235D;
  color: #74235D;
}

.btn-sec-local {
  border: solid 2px #74235D;
  background-color: #74235D;
  color: #fff;
}

.fw-500 {
  font-weight: 500;
}

.btn-sec-local:hover, .btn-pri-local:hover {
  border: solid 2px #B7718C;
  color: #B7718C;
  background-color: #fff;
}

.row-mob {
  margin-right: auto !important;
  margin-left: auto !important;
}

a {
  color: #74235D;
}

a:hover {
  color: #B7718C;
  text-decoration: none;
}

.btn-disabled-local, .btn-disabled-local:hover {
  border: solid 2px #808080;
  color: #808080;
  text-decoration: line-through;
  cursor: not-allowed;
}

.strike-through{
  text-decoration: line-through;
}