body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: clamp(2rem, 5rem, 10rem);
    letter-spacing: 0.5px;
    line-height: 1.3;
}

p {
    line-height: 3rem;
    letter-spacing: .5px;
    font-size: clamp(1.5rem, 2rem, 5rem);
}

small {
    font-size: clamp(.5rem, 1rem, 1.5rem);
    margin: 2em 0;
    display: block;
}

.logo{
    width: 30%;
}

ul {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}

.btn {
    background-color: transparent;
}

.sm-btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.2rem;
}

.lg-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: clamp(1rem, 1.5rem, 2rem);
}