/*
  This file is to define the themes in dark and light mode.
*/

/* VARIABLES & RESETS */
body {
  font-family: "Noto Sans", sans-serif;
}
:root {
  /* BORDERS */
  --stroke: solid 3px;

  /* COLORS */
  --white: #FFFFFF;
  --light-primary: #74235D;
  --light-accent: #7426bf;
  --light-disabled: #808080;
  --dark-bg: #0d0628;
  --dark-text: #c4b8f4;
  --dark-primary: #f9dbbd;
  --dark-accent: #da627d;
  --transparent: transparent;
}

.logo {
  font-family: "Tilt Warp";
  font-size: clamp(4rem, 3.5vw, 30rem);
  font-size: 20rem;
  margin: 0;
  /*color: rgba(69,94,182,1);*/
  color: #2C3849;
}

p {
  color: #1F2F16;
}

.page-title {
  font-family: "Tilt Warp";
  margin: 0;
  color: #2C3849;
  padding-left: 2.5rem;
  font-size: clamp(4rem, 3.5vw, 30rem);
}
