/*
  This file is to define the themes in dark and light mode.
*/

/* VARIABLES & RESETS */

:root {
  /* BORDERS */
  --stroke: solid 3px;

  /* COLORS */
  --white: #FFFFFF;
  --light-primary: #74235D;
  --light-accent: #7426bf;
  --light-disabled: #808080;
  --navy: #112A46;
  --dark-text: #ACC8E5;
  --dark-primary: #F7CCDC;
  --dark-accent: #B6E3C1;
  --transparent: transparent;
}

button { background-color: var(--transparent); }

/* DEFAULT LIGHT THEME */

.btn-pri-local {
  border: var(--stroke) var(--light-primary);
  color: var(--light-primary);
}

.btn-sec-local {
  border: var(--stroke) var(--light-primary);
  background-color: var(--light-primary);
  color: var(--white);
}

.btn-sec-local:hover, .btn-pri-local:hover {
  border: var(--stroke) var(--light-accent);
  color: var(--light-accent);
  background-color: var(--white);
}

a {
  color: var(--light-primary);
}

a:hover {
  color: var(--light-accent);
}

.btn-disabled-local, .btn-disabled-local:hover {
  border: var(--stroke) var(--light-disabled);
  color: var(--light-disabled);
  text-decoration: line-through;
  cursor: not-allowed;
}

/* DEFAULT DARK THEME */
body.dark {
  background-color: var(--navy);
  color: var(--dark-text);
}

body.dark .btn-pri-local {
  border: var(--stroke) var(--dark-primary);
  color: var(--dark-primary);
}

body.dark .btn-sec-local {
  border: var(--stroke) var(--dark-primary);
  background-color: var(--dark-primary);
  color: var(--navy);
}

body.dark .btn-sec-local:hover, .btn-pri-local:hover {
  border: var(--stroke) var(--dark-accent);
  background-color: var(--transparent);
  color: var(--dark-accent);
}

body.dark a {
  color: var(--dark-primary);
}

body.dark a:hover {
  color: var(--dark-accent);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body.systemDarkPreference {
    background-color: var(--navy);
    color: var(--dark-text);
  }

  body.systemDarkPreference .btn-pri-local {
    border: var(--stroke) var(--dark-primary);
    color: var(--dark-primary);
  }

  body.systemDarkPreference .btn-sec-local {
    border: var(--stroke) var(--dark-primary);
    background-color: var(--dark-primary);
    color: var(--navy);
  }

  body.systemDarkPreference .btn-sec-local:hover, .btn-pri-local:hover {
    border: var(--stroke) var(--dark-accent);
    background-color: var(--transparent);
    color: var(--dark-accent);
  }

  body.systemDarkPreference a {
    color: var(--dark-primary);
  }

  body.systemDarkPreference a:hover {
    color: var(--dark-accent);
  }
}
