/*
  This file is to define the themes in dark and light mode.
*/

/* VARIABLES & RESETS */

:root {
  /* BORDERS */
  --stroke: solid 3px;

  /* COLORS */
  --white: #FFFFFF;
  --light-primary: #74235D;
  --light-accent: #7426bf;
  --light-disabled: #808080;
  --dark-bg: #0d0628;
  --dark-text: #c4b8f4;
  --dark-primary: #f9dbbd;
  --dark-accent: #da627d;
  --transparent: transparent;
}

button { background-color: var(--transparent); }


.btn-disabled-local, .btn-disabled-local:hover {
  border: var(--stroke) var(--light-disabled);
  color: var(--light-disabled);
  text-decoration: line-through;
  cursor: not-allowed;
}

/* DEFAULT DARK THEME */
body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/*body.dark h1 {*/
/*  color: var(--h1)*/
/*}*/

body .btn-pri-local {
  border: var(--stroke) var(--dark-primary);
  color: var(--dark-primary);
}

body .btn-sec-local {
  border: var(--stroke) var(--dark-primary);
  background-color: var(--dark-primary);
  color: var(--dark-bg);
}

body .btn-sec-local:hover, .btn-pri-local:hover {
  border: var(--stroke) var(--dark-accent);
  background-color: var(--transparent);
  color: var(--dark-accent);
}

body a {
  color: var(--dark-primary);
}

body a:hover {
  color: var(--dark-accent);
  text-decoration: none;
}

/*@media (prefers-color-scheme: dark) {*/
/*  body.systemDarkPreference {*/
/*    background-color: var(--navy);*/
/*    color: var(--dark-text);*/
/*  }*/

/*  body.systemDarkPreference .btn-pri-local {*/
/*    border: var(--stroke) var(--dark-primary);*/
/*    color: var(--dark-primary);*/
/*  }*/

/*  body.systemDarkPreference .btn-sec-local {*/
/*    border: var(--stroke) var(--dark-primary);*/
/*    background-color: var(--dark-primary);*/
/*    color: var(--dark-bg);*/
/*  }*/

/*  body.systemDarkPreference .btn-sec-local:hover, .btn-pri-local:hover {*/
/*    border: var(--stroke) var(--dark-accent);*/
/*    background-color: var(--transparent);*/
/*    color: var(--dark-accent);*/
/*  }*/

/*  body.systemDarkPreference a {*/
/*    color: var(--dark-primary);*/
/*  }*/

/*  body.systemDarkPreference a:hover {*/
/*    color: var(--dark-accent);*/
/*  }*/
/*}*/
