<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lola Odelola | Portraits</title>
    <meta name="description"
          content="Lola Odelola is a London-based multidisciplinary artist working with photography, collage and words.">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@lolaodelola"/>
    <meta name="x:card" content="summary"/>
    <meta name="x:creator" content="@lolaodelola"/>
    <meta property="og:url" content="https://lolaodelola.dev"/>
    <meta property="og:title" content="Lola Odelola"/>
    <meta property="og:description"
          content="Lola Odelola is a London-based multidisciplinary artist working with photography, collage and words." />
    <meta property="og:image" content="https://lolaodelola.dev/images/logo.jpg" />
    <meta name="viewport" content="width=device-width">

    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

    <!--      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;1,300&family=Righteous&display=swap" rel="stylesheet">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/theme.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
    {% include "partials/_nav.njk" %}
    <h1 class="page-title">Portraits</h1>
    <main class="gallery">
        <img class="gallery-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734345761/DSC02014_xrjcfk.jpg"
             alt="An extreme close up of Shubomi in Nigeria, there are trees behind him and they are extremely blurred">

        <img class="gallery-img" src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734345761/DSC02016_eald0w.jpg"
             alt="A full body portrait of Shubomi in Nigeria, there are palm trees behind him and they are slightly blurred">

        <img class="gallery-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734342997/DSC01892_le9cuv.jpg"
             alt="A picture of author Jackson P. Brown's profile. She's standing in front of a dark green hedge which is blurred.">


        <img class="gallery-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734342996/DSC01927_yiv43f.jpg"
             alt="A mid-body portrait of author Jackson P. Brown. She's standing in front of a tall flowering plant with orange and yellow flowers.">


        <img class="gallery-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734342377/DSC00285_g0xhxe.jpg"
             alt="A close up of Esther's ear, she's wearing a hoop in her earlobe followed by three studs and a very small hoop.">

        <img class="gallery-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734342194/DSC00261_qxho9a.jpg"
             alt="A close up portrait of Esther, she's wearing thick black sunglasses with orange lenses and stands infront of a shiney green tiled wall.">

        <img class="gallery-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734342341/DSC00298_ysnfdi.jpg"
             alt="A close up of Esther's hands and neck. She's wearing a thin chain with a pendant in the shape of Africa, another longer chain with a gold seashell pendant. Her nails are long almond shape in a sky blue colour with 3d chrome designs">

    </main>
    {% include "partials/_foot.njk" %}
</body>
</html>