<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lola Odelola | Artist & Technologist</title>
    <meta name="description"
          content="Lola Odelola is a London-based multidisciplinary artist working with photography, collage and words, and a technologist with a decade in the tech industry.">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@lolaodelola"/>
    <meta name="x:card" content="summary"/>
    <meta name="x:creator" content="@lolaodelola"/>
    <meta property="og:url" content="https://lolaodelola.dev"/>
    <meta property="og:title" content="Lola Odelola"/>
    <meta property="og:description" content="Lola Odelola is a London-based multidisciplinary artist working with photography, collage and words, and a technologist with a decade in the tech industry." />
    <meta property="og:image" content="https://lolaodelola.dev/images/logo.jpg" />
    <meta name="viewport" content="width=device-width">

    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

    <!--      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;1,300&family=Righteous&display=swap" rel="stylesheet">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/theme.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>

<body class="systemDarkPreference">
    {% include "partials/_nav.njk" %}
    <main class="profile-layout">

        <section class="bio">
            <p>Lola is a multidisciplinary artist and technologist. Lola’s art work incorporates multiple
                mediums,
                including photography and poetry. She has two published poetry books, <a href="https://www.waterstones.com/book/lost-and-found/damilola-odelola/9781908998729">’Lost and
                    Found’</a> and '#000000', the former of which was the Poetry Book Society's Autumn Pamphlet Choice in 2016.
                She’s particularly interested in themes of privacy and the relationship between tech and nature.</p>

            <p>Lola has worked across a number of industries, in a number of different technical roles from
                Software
                Engineer to Web Platform Program Lead. She’s been involved with Web Standards, and is an invited expert
                to the W3C's ARIA Working Group. She has also been recognised for her work with blackgirl.tech (2014 - 2019), a non-profit organisation encouraging more Black girls, women and non-binary ppl to learn coding.</p>
            <p>This portrait was made by <a href="https://anselmebulue.com">Anselm Ebulue</a>.</p>
        </section>



        <img class="profile-img"
             src="https://res.cloudinary.com/dnp7rf0u9/image/upload/v1734340428/img20230202_19005820_kkimbj.jpg"
             alt="A black and white portrait of lola odelola">

    </main>
    {% include "partials/_foot.njk" %}

</body>

</html>