   <footer>
        <ul class="nav-list">
            <li><a href="mailto:lolaodelola@gmail.com" class="nav-item">Email</a></li>
            <li><a href="https://instagram.com/lolaodelola" class="nav-item">Instagram</a></li>
        </ul>
        <small>Lola Odelola <span>&copy; 2024 </span><span id="year"></span></small>
    </footer>