<nav>
    <ul>
        <li>Home</li>
        <ul>Projects
            <li>Untitled (nature-tech)</li>
            <li>Portraits</li>
            <li>In the Kitchen</li>
        </ul>
        <li><a href="mailto:lolaodelola@gmail.com>Contact Me</a></li>
    </ul>
</nav>