   <nav>
        <ul>
            <li><a href="/profile" class="nav-item">Profile</a></li>
            <li><a href="/portraits" class="nav-item">Portraits</a></li>
<!--            <li><a href="/art-work" class="nav-item">Art</a></li>-->
            <li><a href="https://lolaslab.co" class="nav-item">Tech Work</a></li>
        </ul>
    </nav>