 <nav>
      <ul>
        <li><a href="https://lolaslab.co">Tech Work</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/portraits">Portraits</a></li>
        <li><a href="/art-work">Art</a></li>
      </ul>
    </nav>