---
layout: layouts/default.njk
title: lola odelola - Blog
heading: Blog
pagination:
    data: collections.posts
    size: 5
    alias: posts
    reverse: true

---
<h1 class="page-title">Blog</h1>
<ul class="posts-list">
    {% for post in posts %}
        <li class="post-list-item">
            <h2 class="post-list-item-title">{{ post.data.title }}</h2>
            <img src="{{ post.data.local.img }}" alt="{{ post.data.local.alt }}" class="post-list-img">
            <p class="description">{{ post.data.description }}</p>
            <p class="permalink"><a href="{{post.data.page.filePathStem}}">Continue Reading</a></p>
        </li>
    {%- endfor -%}
</ul>


<nav aria-label="pagination">
    <ul class="pagination-list">
        {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>Page {{ forloop.index }}</a></li>
        {%- endfor %}
    </ul>
</nav>