<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lola Odelola | {{ title }}</title>
    <meta name="description" content="Lola Odelola is a London-based multidisciplinary artist working with photography,
    collage and words.">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://lolaodelola.com/{{ page.url }}" />
    <meta name="og:description" content="{{ description }}">
    {%- if (social_img) -%}
        <meta property="og:image" content="{{ social_img }}" />
        <meta property="og:image:alt" content="The title of the post against a colourful background" />
    {%- endif -%}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@lolaodelola"/>
    <meta name="x:card" content="summary"/>
    <meta name="x:creator" content="@lolaodelola"/>
    <meta name="viewport" content="width=device-width">

    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Tilt+Warp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css?site=v2">
    <link rel="stylesheet" href="/css/theme.css?site=v2">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
    {% include "partials/_nav.njk" %}
    <main class="post-container">
        {{ content | safe }}
    </main>
    {% include "partials/_foot.njk" %}
</body>